<div id="index-pane">

  <div id="support-dialog" class="project-alpha-dialog">
    <h2>Wir brauchen Ihre Untersützung!</h2>

    <p>Helfen Sie, das Projekt zu verbreiten, indem Sie andere darauf aufmerksam machen. Verteilen Sie diesen <a href="/project-alpha-flyer/project-alpha-flyer.pdf" target="_blank">Flyer</a> oder veröffentlichen Sie einen Kommentar über twitter oder google plus und beteiligen Sie sich an der Diskussion über Weiterentwicklung und Verbesserungsmöglichkeiten.</p>

    <table id="announce-button-table" class="support-tables">
      <tr>
        <td class="twitter">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://project-alpha" data-text="Singles aufgepasst: Hier werdet Ihr nicht übers Ohr gehauen!" data-via="ol42" data-lang="de" data-size="large" data-count="none">Twittern</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </td>

        <td class="gplus">
          <!-- Place this tag where you want the +1 button to render. -->
          <div class="g-plusone" data-annotation="inline" data-width="120"></div>

          <!-- Place this tag after the last +1 button tag. -->
          <script type="text/javascript">
            window.___gcfg = {lang: 'de'};

            (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </td>

        <td class="gplus-community">
          <div>
            <a href="https://plus.google.com/u/0/communities/102197792811205416720" target="_blank">
              <img src="img/gplus_community.png" width="120"></a>
            </a>
          </div>
        </td>
      </tr>
    </table>

    <hr>

    <p>Eine Spende über Flattr, Bitcoin- oder Paypalüberweisung hält das Angebot am Leben.</p>
    <table id="donate-button-table" class="support-tables">
      <tr>
        <td class="flattr">
          <div>
           <a href="https://flattr.com/submit/auto?user_id=ol42&url=http%3A%2F%2Fproject-alpha.org" target="_blank"><img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
          </div>
        </td>

        <td class="bitcoin">
          <div>
            <a href="bitcoin:1NVfuR3wXzPXiTNeuoiVYDWnhHqAeJxXED?amount=0.005&label=project-alpha">
              <img src="img/bitcoin_euro-150px.png" width="75"></a>
            <p style="font-size:xx-small">1NVfuR3wXzPXiTNeuoiVYDWnhHqAeJxXED</p>
          </div>
        </td>

        <td class="paypal">
          <div>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="96WYH6689SGWS">
              <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
              <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1"></form>
          </div>
        </td>
      </tr>
    </table>

    <form>
      <div id="confirm-support-dialog" class="goog-flat-button goog-flat-button-disabled project-alpha-dialog-button"
	   title="Schließen">Schließen</div>
    </form>
  </div>

  <div id="status-messages" class="project-alpha-dialog">
    <div id="support-dialog-title">Unterstützung</div>
  </div>


  <div id="logo-pane">
    <img id="logo" src="img/alpha.png" alt="logo"/>
  </div>

  <div id="title">
    <h1>project alpha</h1>
    <p id="subtitle">Kontaktanzeigen</p>
    <p>Project Alpha ist ein Softwareprojekt zur Realisierung einer Partnervermittlung im Internet. Damit Ihre Daten geschützt bleiben, verwenden Sie zur Registrierung bitte ein Pseudonym und <b>keinen Klarnamen</b>. Alles, was Sie zur Anmeldung außerdem benötigen, ist eine gültige Emailadresse, die nicht veröffentlich wird. Dieses <a href="http://www.youtube.com/watch_popup?v=2sQUm8l2_Qg&vq=hd1080#t=0m0s" target="_blank">Video</a> erklärt, wie die Anwendung verwendet wird.</p>
  </div>

  <div id="button-pane">
    <table border="0" width="100%">
      <td align="center">
	<div id="register-button-pane">
	  <input id="register-button" class="button green" type="button"
		 title="Erstellen Sie einen neuen Benutzerzugang. Verwenden Sie bitte ein Pseudonym und nicht Ihren Realnamen. Das gewählte Pseudonym dient als Einwahl- und Ansprechname auf dieser Plattform. Es kann nachträglich nicht mehr geändert werden!" value="Zugang einrichten">
	  <p>Registrieren Sie sich jetzt!</p>
	</div>
      </td>

      <td align="center">
	<div id="login-button-pane">
	  <input id="login-button" class="button green" type="button"
		 title="Zum Anmelden hier klicken" value="Anmelden">
	  <p>Einloggen</p>
	</div>
      </td>

      <td align="center">
	<div id="logout-button-pane">
	  <input id="logout-button" class="button green" type="button"
		 title="Von dieser Seite Abmelden" value="Abmelden">
	  <p>Ausloggen</p>
	</div>

	<div id="forgot-password-pane">
	  <input id="forgot-password-button" class="button green" type="button"
		 title="Freischalten Ihres Zuganges durch Versandt einer neuen Bestätigungsemeail" value="Neues Password">
	  <p>Passwort vergessen</p>
	</div>
      </td>
    </table>
  </div>

  <div id="change-lang-button-pane" data-lang="en">
    <img src="img/eng.png" width="50" alt="english"/>
    <p>English Version</p>
  </div>

  <h2>Besondere Merkmale</h2>
  <div class="box alpha">
    <h3>Transparent</h3>
    <p>Würden Sie die Kriterien, die zu Bewertung potentieller Partner herangezogen werden, gerne nachvollziehen können anstatt Sie einem "Team geschulter Psychologen" zu überlassen? Dann sind Sie hier genau richtig. Denn im Gegensatz zu vielen anderen Kontaktbörsen können Sie anhand einer Bewertungskala von 10 direkt zu beantworteten Fragen klar nachvollziehen, wer gut und wer weniger gut zu Ihnen passt.</p>
    <p>Die Funktionsweise der Algorithmen kann aufgrund der Offenheit der Implementierung übrigens auch im Detail nachvollzogen werden.</p>
    <p>Da keine Einnahmen aus Ihrem Nutzungsverhalten generiert werden, gibt es von unserer Seite kein Interesse mit <a href="http://www.test.de/Partnerboersen-Wo-sich-die-Suche-lohnt-4206342-0/">fragwürdiger Methoden</a> neue Nutzer anzulocken oder Sie so lange wie möglich auf der Plattform zu halten. Es steht Ihnen vielmehr frei, nach einer ersten Kontaktaufnahme auf andere Internetdienste auszuweichen.</p>
  </div>

  <div class="box">
    <h3>Gebühren- und Werbungsfrei</h3>
    <p>Diese Seite verzichtet vollständig auf Werbung und Gebühren. Es gibt z.B. keinen teuren "Premiumaccount", der zur Beantwortung interessante Anfragen zwingend abgeschlossen werden muss. Wir degradieren Sie nicht zum Produkt, in dem wir mit Ihren Daten Handel treiben oder Sie unerwünschter Werbung aussetzen. Da diese Eigenschaften im Widerspruch zur kommerziellen Interessen stehen, wird das Angebot ausschließlich durch Spenden und die Arbeit Freiwilliger finanziert. Eine Spende über Flattr, Bitcoin- oder Paypalüberweisung hält das Angebot am Leben:</p>
    <div id="support-button">
      <img src="img/support-icon.png" alt="support"/>
      <p>Das Projekt unterstützen</p>
    </div>
  </div>


  <div class="box omega">
    <h3>Vollständige Anonymität</h3>
    <p>Im Hinblick auf möglichst hohen Datenschutz fordern wir Sie ausdrücklich dazu auf, keine Klarnamen zu verwenden. Alles, was Sie zur Verwendung dieser Plattform benötigen ist eine funktionsfähige Emailadresse. Diese können Sie sich auch gerne explizit für diese Anwendung generieren.</p>
    <p>Im Gegensatz zu den meisten anderen Anbietern speichern wir keine Bilder auf unseren Servern. Sie können allerdings dennoch Bilder in Ihr Profil einstellen. Diese werden über eine URL von einem externen Server Ihrer Wahl geladen. Sie bleiben somit Herr Ihrer Daten und müssen sich keine Sorgen um etwaigen Missbrauch machen. In der Praxis gestaltet sich die Verknüpfung von Bildern übrigens kinderleicht einfach durch Ziehen mit der Maus.</p>
  </div>

  <div id="footer"></div>

  <div class="github-fork-ribbon-wrapper right-bottom">
    <div class="github-fork-ribbon">
      <a href="https://github.com/linneman/project-alpha">Quellcode auf GitHub</a>
    </div>
  </div>

</div>
