<div id="nav-pane" class="nav-pane">
  <table>
    <td align="center" id="start-button-pane">
      <div id="nav-start-button" class="goog-toggle-button"
	   title="Allgemeine Informationen zu dieser Webseite">Start</div>
    </td>

    <td align="center" id="message-button-pane">
      <div id="nav-status-button" class="goog-toggle-button"
	   title="Übersicht über neue Nachrichten">Nachrichten</div>
    </td>

    <td align="center" id="profile-button-pane">
      <div id="nav-profile-button" class="goog-toggle-button"
	   title="Ihr Profil">Gefunden werden</div>
    </td>

    <td align="center" id="nav-search-button-pane">
      <div id="nav-search-button" class="goog-toggle-button"
	   title="Klicken Sie hier, um eine nette Person zu finden">Finden</div>
    </td>

    <td align="center" id="imprint-button-pane">
      <div id="nav-imprint-button" class="goog-toggle-button"
	   title="Imprintum">Impressum</div>
    </td>
  </table>
</div>
