<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>project-alpha</title>
    <meta name="author" content="Otto Linnemann">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/project-alpha.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
  </head>

  <body>

    <div id="outer-frame">
      <div id="index-pane">
        <div id="logo-pane">
          <img id="logo" src="img/alpha.png" alt="logo"/>
        </div>

        <div id="title">

          <h1>Projekt Alpha</h1>
          <p>Projekt Alpha ist ein quelloffenes Softwareprojekt zur Realisierung einer Partnervermittlung im Internet.</p>
          <div style="text-align:center;border-style:solid; border-width: 2px; color:#050; margin-top:50px;">
            <h2 style="color:#050;">Ihr Internetbrowser wird nicht unterstützt!</h2>
            <p>Verwenden Sie bitten einen Browser, der moderne Webstandards voll unterstützt. Durch Klicken auf das jeweilige Piktogramm werden Sie auf die Webseite eines unterstützen Browsers weitergeleitet. Sie finden dort unmittelbar Hinweise zur Installation, die üblicherweise nur wenige Minuten in Anspruch nimmt:</p>
            <table border="0" width="100%">
              <tr>
                <td align="center"><a href="http://www.apple.com/safari"><img src="img/safari_logo.png" width="150px" alt="safari"/></a></td>
                <td align="center"><a href="http://www.google.com/chrome"><img src="img/chrome_logo.png" width="150px" alt="chrome"/></a></td>
                <td align="center"><a href="http://www.mozilla.org/de/firefox"><img src="img/firefox_logo.png" width="150px" alt="firefox"/></a></td>
                <td align="center"><a href="http://www.opera.com"><img src="img/opera_logo.png" width="150px" alt="opera"/></a></td>
              </tr>
              <tr>
                <td align="center" style="color:#050;">Safari</td>
                <td align="center" style="color:#050;">Chrome</td>
                <td align="center" style="color:#050;">Firefox</td>
                <td align="center" style="color:#050;">Opera</td>
              </tr>
            </table>
            <p></p>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
