<div id="search-pane">

  <p class="pane-explanation">Stöbern Sie durch die Liste aller Kontakte. Legen Sie interessante Partner in einer Favoritenliste ab. In der letzten Spalte der Tabelle können Sie über die Schaltfläche Details sämtliche Informationen inklusive - soweit vorhanden - Bildern einsehen und dem bzw. der Betreffenden eine Nachricht zukommen lassen.</p>

  <div id="status-messages">
    <div id="show-details-button-txt">Details ...</div>
  </div>

  <div id="tabpane-search"></div>

  <div id="search-results">
    <h2>Kontakte finden</h2>
    <table id="search-result-table" class="result-table">
      <tr id="header-row">
	<th class="date" id="sort-by-date">Dabei seit</th>
	<th class="name" id="sort-by-name">Name</th>
	<th class="dist" id="sort-by-dist">ungefäre Entfernung</th>
	<th class="match" id="sort-by-match">Übereinstimmung</th>
	<th class="details">&nbsp;</th>
      </tr>
      <tr id="prototype-row">
	<td class="date" id="col1"></td>
	<td class="name" id="col2"></td>
	<td class="dist" id="col3"></td>
	<td class="match" id="col4"></td>
	<td class="details" id="col5"></td>
      </tr>
    </table>

    <table id="search-result-controller" class="result-controller">
      <tr id="prototype-row">
	<td class="col" id="col1"></td>
	<td class="col" id="col2"></td>
	<td class="col" id="col3"></td>
	<td class="col" id="col4"></td>
	<td class="col" id="col5"></td>
	<td class="col" id="col6"></td>
	<td class="col" id="col7"></td>
	<td class="col" id="col8"></td>
	<td class="col" id="col9"></td>
	<td class="col" id="col10"></td>
      </tr>
    </table>
  </div>

  <div id="favorites">
    <h2>Favoriten</h2>

    <div id="search_no_favorites">
      <h3>Noch keine Favoriten definiert!</h3>
      <p>Interessante Kontaktpersonen können Sie unter der Schaltfläche "Kontakte Finden", "Details anzeigen" zu dieser Favoritenliste hinzufügen.</p>
    </div>

    <table id="favorite-table" class="result-table">
      <tr id="header-row">
	<th class="date" id="sort-by-date">Dabei seit</th>
	<th class="name" id="sort-by-name">Name</th>
	<th class="dist" id="sort-by-dist">ungefäre Entfernung</th>
	<th class="match" id="sort-by-match">Übereinstimmung</th>
	<th class="details">&nbsp;</th>
      </tr>
      <tr id="prototype-row">
	<td class="date" id="col1"></td>
	<td class="name" id="col2"></td>
	<td class="dist" id="col3"></td>
	<td class="match" id="col4"></td>
	<td class="details" id="col5"></td>
      </tr>
    </table>

    <table id="favorite-controller" class="result-controller">
      <tr id="prototype-row">
	<td class="col" id="col1"></td>
	<td class="col" id="col2"></td>
	<td class="col" id="col3"></td>
	<td class="col" id="col4"></td>
	<td class="col" id="col5"></td>
	<td class="col" id="col6"></td>
	<td class="col" id="col7"></td>
	<td class="col" id="col8"></td>
	<td class="col" id="col9"></td>
	<td class="col" id="col10"></td>
      </tr>
    </table>
  </div>

  <div id="banned">
    <h2>Geblockt</h2>

    <div id="search_no_banned">
      <h3>Es wurden noch keine Profile ausgefiltert!</h3>
      <p>Profile, die Sie nicht interessieren, können Sie unter der Schaltfläche "Kontakte Finden", "Details anzeigen" zu der Liste der blockierten Profile hinzufügen. Die ausgewählten Kontakte werden darauf hin nicht mehr in der Suchliste sondern in der unter diesem Reiter gezeigten Tabelle aufgeführt.</p>
    </div>

    <table id="banned-table" class="result-table">
      <tr id="header-row">
	<th class="date" id="sort-by-date">Dabei seit</th>
	<th class="name" id="sort-by-name">Name</th>
	<th class="dist" id="sort-by-dist">ungefäre Entfernung</th>
	<th class="match" id="sort-by-match">Übereinstimmung</th>
	<th class="details">&nbsp;</th>
      </tr>
      <tr id="prototype-row">
	<td class="date" id="col1"></td>
	<td class="name" id="col2"></td>
	<td class="dist" id="col3"></td>
	<td class="match" id="col4"></td>
	<td class="details" id="col5"></td>
      </tr>
    </table>

    <table id="banned-controller" class="result-controller">
      <tr id="prototype-row">
	<td class="col" id="col1"></td>
	<td class="col" id="col2"></td>
	<td class="col" id="col3"></td>
	<td class="col" id="col4"></td>
	<td class="col" id="col5"></td>
	<td class="col" id="col6"></td>
	<td class="col" id="col7"></td>
	<td class="col" id="col8"></td>
	<td class="col" id="col9"></td>
	<td class="col" id="col10"></td>
      </tr>
    </table>
  </div>

  <div id="search-setup">
    <h2>Einstellungen</h2>
    <p>Für die Suche nach potentiellen Partnern werden im Moment die folgenden Parameter verwendet. Eine individuelle Anpassbarkeit dieser Parameter ist in Entwicklung.</p>
    <table>
      <tr><td class="desc">Maximale Trefferanzahl von Mitgliedern mit hoher Übereinstimmung:</td><td class="val">245</td><td></td></tr>
      <tr><td class="desc">Wertung als hohe Übereinstimmung ab:</td><td class="val">50</td><td>%</td></tr>
      <tr><td class="desc">Maximale Trefferanzahl örtlich nächstgelegener Mitglieder:</td><td class="val">245</td><td></td></tr>
      <tr><td class="desc">Anzahl gezeigter neu hinzugekommener Mitglieder:</td><td class="val">10</td><td></td></tr>
    </table>
  </div>

  <div id="no_matches_available">
    <h3>Im Moment gibt es leider noch keine Partner!</h3>
    <p>Das Projekt wurde soeben erst gestartet und daher gibt es im Moment leider noch keine bzw. nur sehr wenige Mitglieder. Betrachten Sie es als Zeichen unserer Ehrlichkeit, dass wir mit dieser Situation offen umgehen.</p>
    <p>Ein neues Angebot wird im Anfangsstadium immer eine kleine Mitgliederbasis aufweisen. Eine große Mitgliederbasis ist alledings nicht zwangsläufig ein Qualitätsmerkmal. Würde nur danach beurteilt, verblieben ausschließlich große kommerzielle Anbieter, die Geschäftsbedingungen zum Nachteil der Nutzer diktieren.</p>
    <p>Betrachten Sie die Tatsache, dass Sie zu einem exklusiven Kreis von frühen Mitgliedern dieses Projektes gehören als Chance. Ihr Profil wird sich bei neu hinzukommenden Mitgliedern voller Aufmerksamkeit erfreuen. Wir werden Sie über eine email über neue Profile und Nachrichten von neuen Mitgliedern umgehend informieren.</p>
    <div id="support-button2">
      <img src="img/support-icon.png" alt="support"/>
      <p>Das Projekt unterstützen</p>
    </div>
    <p>Helfen Sie schon aus Ihrem eignene Interesse, andere auf dieses gemeinfreie Projekt aufmerksam zu machen. Mehr dazu erfahren Sie durch Klicken auf die Schaltfläche oben.</p>
  </div>

  <div id="search_profile_incomplete">
    <h3>Profilaktualisierung noch nicht abgeschlossen!</h3>
    <p>Machen Sie zunächst unter dem Menüpunkt "Gefunden werden" die folgenden Angaben, damit
       Ihre Suchanfrage bearbeitet werden kann:</p>
    <ul>
      <li>Ihr Geschlecht</li>
      <li>Suchen Sie eine Frau oder einen Mann?</li>
      <li>Ungefähres Alter</li>
      <li>PLZ-Region, in der Sie leben</li>
      <li>Beantworten Sie bitte auch den Fragenkatalog.</li>
    </ul>
  </div>

  <div id="search_request_progress">
    <h3>Daten werden aktualisiert ...</h3>
    <img src="/img/spinner.gif">
  </div>

</div>
