<div id="status-pane">

  <div id="compose-msg-dialog" class="project-alpha-dialog">
    <div id="cmp-msg-toolbar"></div>
    <div id="cmp-msg-editor"></div>

    <div id="buttons">
      <div id="confirm-compose-msg" class="goog-flat-button goog-flat-button-disabled"
	   title="Klicken Sie hier, wenn alle Einträge ausgefüllt sind!">Absenden</div>
      <div id="cancel-compose-msg" class="goog-flat-button goog-flat-button-disabled"
	   title="Schließt diesen Dialog">Abbruch</div>
    </div>

    <div id="ref-msgs"></div>

    <div id="compose_request_progress">
      <h3>Daten werden aktualisiert ...</h3>
      <img src="/img/spinner.gif">
    </div>
  </div>


  <div id="msg-tab-pane"></div>

  <div id="page1">
    <h2>Neue Nachrichten</h2>
    <p>...</p>
  </div>

  <div id="page2">
    <h2>Gesendete Nachrichten</h2>
    <p>...</p>
  </div>

  <div id="status-messages" class="project-alpha-dialog">
    <div id="compose-msg-dialog-title">Nachricht senden an: </div>
    <div id="show-msg-dialog-title">Kommunikation mit: </div>
  </div>
</div>
