.DS_Store
/pom.xml
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
*#
.#*
.repl
*~

*jar
*.js

resources/public/cljs
resources/public/clojure
resources/public/goog
resources/public/project_alpha_client
resources/public/project_alpha.js
resources/public/project_alpha_debug.js
target
repl
