<h2>index</h2>

<input id="login-button" class="button green" type="button"
       title="Zum Anmelden hier klicken" value="Anmelden">

<input id="register-button" class="button green" type="button"
       title="Erstellen Sie einen neuen Benutzerzugang" value="Zugang einrichten">

<input id="logout-button" class="button green" type="button"
       title="Von dieser Seite Abmelden" value="Abmelden">

<div id="index-scripts">
  <script type="text/javascript">
    goog.require('project_alpha_client.app.index');
  </script>
</div>
