<h2>index</h2>

<div id="login-button" class="goog-flat-button goog-flat-button-disabled"
       title="Zum Anmelden hier klicken">Anmelden</div>

<div id="register-button" class="goog-flat-button goog-flat-button-disabled"
       title="Erstellen Sie einen neuen Benutzerzugang">Zugang einrichten</div>

<div id="logout-button" class="goog-flat-button goog-flat-button-disabled"
       title="Von dieser Seite Abmelden">Abmelden</div>

<div id="index-scripts">
  <script type="text/javascript">
    goog.require('project_alpha_client.app.index');
  </script>
</div>
