<div id="index-pane">

  <div id="key-assets">
    <h2>Die etwas andere Kontaktseite</h2>
    <ul>
      <li>gebührenfrei</li>
      <li>transparente offene Implementierung</li>
      <li>frei von Werbung</li>
    </ul>
  </div>



  <div id="button-pane">

    <table border="0" width="80%">
      <td align="center">
	<div id="register-button-pane">
	  <input id="register-button" class="button green" type="button"
		 title="Erstellen Sie einen neuen Benutzerzugang. Verwenden Sie bitte ein Pseudonym und nicht Ihren Realnamen. Das gewählte Pseudonym dient als Einwahl- und Ansprechname auf dieser Plattform. Es kann nachträglich nicht mehr geändert werden!" value="Zugang einrichten">
	  <p>Registrieren Sie sich jetzt!</p>
	</div>
      </td>

      <td align="center">
	<div id="login-button-pane">
	  <input id="login-button" class="button green" type="button"
		 title="Zum Anmelden hier klicken" value="Anmelden">
	  <p>Einloggen</p>
	</div>
      </td>

      <td align="center">
	<div id="logout-button-pane">
	  <input id="logout-button" class="button green" type="button"
		 title="Von dieser Seite Abmelden" value="Abmelden">
	  <p>Ausloggen</p>
	</div>
      </td>

    </table>

  </div>

</div>

<div id="index-scripts">
  <script type="text/javascript">
    goog.require('project_alpha_client.app.core');
  </script>
</div>
