<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>project-alpha</title>
    <meta name="author" content="Otto Linnemann">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/button.css">
    <link rel="stylesheet" type="text/css" href="css/flatbutton.css">
    <link rel="stylesheet" type="text/css" href="css/tabpane.css">
    <link rel="stylesheet" type="text/css" href="css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="css/linkbutton.css" />
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/menuitem.css">
    <link rel="stylesheet" type="text/css" href="css/menuseparator.css">
    <link rel="stylesheet" type="text/css" href="css/tab.css" />
    <link rel="stylesheet" type="text/css" href="css/tabbar.css" />
    <link rel="stylesheet" type="text/css" href="css/toolbar.css" />
    <link rel="stylesheet" type="text/css" href="css/colormenubutton.css" />
    <link rel="stylesheet" type="text/css" href="css/palette.css" />
    <link rel="stylesheet" type="text/css" href="css/colorpalette.css" />

    <link rel="stylesheet" type="text/css" href="css/editor/bubble.css" />
    <link rel="stylesheet" type="text/css" href="css/editor/dialog.css" />
    <link rel="stylesheet" type="text/css" href="css/editor/linkdialog.css" />
    <link rel="stylesheet" type="text/css" href="css/editortoolbar.css" />

    <link rel="stylesheet" type="text/css" href="css/project-alpha.css" />

    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" type="text/css" href="css/register.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/profile.css" />
    <!--[if IE]>
	<link rel="stylesheet" type="text/css" href="mainpanel.css" media="all">
	<![endif]-->
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  </head>

  <div id="global-scripts">
    <script type="text/javascript" src="goog/base.js"></script>
    <script type="text/javascript" src="project_alpha.js"></script>
    <script type="text/javascript">
      goog.require('project_alpha_client.lib.repl');
    </script>
  </div>

  <body>

    <div id="header">
      <h1>Projekt Alpha</h1>
    </div>

    <div id="content_pane">
    </div>

  </body>
</html>
