<div id="login-pane">
  <div id="login" class="project-alpha-dialog">
    <form>
      <table>
	<tr><td align="right">Name oder Email:</td><td><input id="login-name" class="login-field" type="text" name="name"></td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td align="right">Passwort:</td><td><input id="login-password" class="login-field" type="password" name="password"></td></tr>
      </table>

      <div id="confirm-login" class="goog-flat-button goog-flat-button-disabled project-alpha-dialog-button"
	   title="Klicken Sie hier, wenn alle Einträge ausgefüllt sind!">Login</div>
    </form>
  </div>

  <div id="login-failed" class="project-alpha-dialog">
    <h1 align="center">Anmeldung fehlgeschlagen!</h1>
    <div id="confirm-login-failed" class="goog-flat-button goog-flat-button-disabled project-alpha-dialog-button">OK</div>
  </div>

  <div id="login-user-not-confirmed" class="project-alpha-dialog">
    <p>Rufen Sie Ihre email ab und klicken Sie auf den Bestätigungslink, um Ihren Zugang freizuschalten!</p>
    <div id="confirm-login-user-not-confirmed" class="goog-flat-button goog-flat-button-disabled project-alpha-dialog-button">OK</div>
  </div>

  <div id="login-messages" class="project-alpha-dialog">
    <div id="login-dialog-title">Anmeldung</div>
    <div id="login-failed-dialog-title">Fehlgeschlagen</div>
    <div id="login-user-not-confirmed-title">Ihre email Adresse wurde nicht bestätigt!</div>
  </div>
</div>


<div id="login-scripts">
  <script type="text/javascript">
    goog.require('project_alpha_client.lib.login');
  </script>
</div>
