<div id="nav-pane">
  <table border="0" width="80%">
    <td align="center">
      <div id="message-button-pane">
	<div id="nav-status-button" class="goog-toggle-button"
	       title="Übersicht über neue Nachrichten">Nachrichten</div>
      </div>
    </td>

    <td align="center">
      <div id="message-button-pane">
	<div id="nav-contact-button" class="goog-toggle-button"
	       title="Klicken Sie hier, um eine nette Person zu finden">Kontakte knüpfen</div>
      </div>
    </td>

    <td align="center">
      <div id="profile-button-pane">
	<div id="nav-profile-button" class="goog-toggle-button"
	       title="Ihre Profil">Profil</div>
      </div>
    </td>

    <td align="center">
      <div id="logout-button-pane">
	<div id="nav-logout-button" class="goog-toggle-button"
	       title="Von dieser Seite Abmelden">Abmelden</div>
      </div>
    </td>

    <td align="center">
      <div id="impress-button-pane">
	<div id="nav-impress-button" class="goog-toggle-button"
	     title="Impressum">Impressum</div>
      </div>
    </td>
  </table>
</div>
