<div id="profile-pane">

  <div id="bg">
  </div>

  <div id="tabpane1"></div>

  <div id="page1">
    <h2>zur Person</h2>
    <p>
      <table>
	<tr>
	  <th>Ich bin</th>
	  <td><input type="radio" name="user_sex" value="female">eine Frau</td>
	  <td><input type="radio" name="user_sex" value="male">ein Mann</td>
	</tr>
	<tr>
	  <th>und suche</th>
	  <td><input type="radio" name="user_interest_sex" value="female">eine Frau</td>
	  <td><input type="radio" name="user_interest_sex" value="male">einen Mann</td>
	</tr>
	<tr>
	  <th>Ich bin</th>
	  <td><div id="user-age" class="profile-select-field" title="Das Alter sollte grob passen!"></div></td><td> Jahre alt</td>
	</tr>
	<tr>
	  <th>Ich leben im</th>
	  <td> <div id="user-open-zip-button" class="profile-select-field goog-flat-button goog-flat-button-disabled" title="Dient zur groben Zuordnung Ihres Standortes, damit Sie nicht soweit fahren müssen!">PLZ Gebiet</div>
	  </td>
	  <td class="last-col"><div id="user-zip-city-list"></div></td>
	</tr>
      </table>
    </p>

    <div id="user-zip" class="goog-menu">
      <div class="goog-submenu">0
	<div class="goog-menu">
	  <div class="goog-menuitem">01 Dresden, Riesa, Meißen, Bischofswerda</div>
	  <div class="goog-menuitem">02 Görlitz, Bautzen, Hoyerswerda, Zittau</div>
	  <div class="goog-menuitem">03 Cottbus, Finsterwalde, Forst (Lausitz), Spremberg</div>
	  <div class="goog-menuitem">04 Leipzig, Altenburg, Eilenburg, Torgau</div>
	  <div class="goog-menuitem">06 Halle (Saale), Dessau-Roßlau, Quedlinburg, Zeitz</div>
	  <div class="goog-menuitem">07 Gera, Jena, Saalfeld/Saale, Greiz</div>
	  <div class="goog-menuitem">08 Plauen, Zwickau, Aue, Klingenthal</div>
	  <div class="goog-menuitem">09 Chemnitz, Annaberg-Buchholz, Zschopau, Freiberg</div>
	</div>
      </div>
      <div class="goog-submenu">1
	<div class="goog-menu">
	  <div class="goog-menuitem">10 Berlin Innenstadt</div>
	  <div class="goog-menuitem">12 Südliches und südöstliches Berlin</div>
	  <div class="goog-menuitem">13 nördliches Berlin</div>
	  <div class="goog-menuitem">14 Potsdam und südwestliches Berlin, Rathenow, Luckenwalde, Brandenburg an der Havel</div>
	  <div class="goog-menuitem">15 Frankfurt (Oder), Eisenhüttenstadt, Fürstenwalde/Spree, Königs Wusterhausen</div>
	  <div class="goog-menuitem">16 Oranienburg, Eberswalde, Pritzwalk, Schwedt/Oder</div>
	  <div class="goog-menuitem">17 Neubrandenburg, Greifswald, Neustrelitz, Usedom</div>
	  <div class="goog-menuitem">18 Rostock, Stralsund, Güstrow, Bergen auf Rügen</div>
	  <div class="goog-menuitem">19 Schwerin, Ludwigslust, Wittenberge, Parchim</div>
	</div>
      </div>
      <div class="goog-submenu">2
	<div class="goog-menu">
	  <div class="goog-menuitem">20 Hamburg Mitte</div>
	  <div class="goog-menuitem">21 Südliches und östliches Hamburg und Umland, Lüneburg, Buxtehude, Stade, Reinbek</div>
	  <div class="goog-menuitem">22 Hamburg Nord/West, Norderstedt, Ahrensburg, Wedel</div>
	  <div class="goog-menuitem">23 Lübeck, Bad Segeberg, Wismar, Mölln</div>
	  <div class="goog-menuitem">24 Kiel, Flensburg, Schleswig, Neumünster</div>
	  <div class="goog-menuitem">25 Westküste (Elmshorn, Itzehoe, Sylt)</div>
	  <div class="goog-menuitem">26 Oldenburg, Wilhelmshaven, Emden, Aurich</div>
	  <div class="goog-menuitem">27 Bremerhaven, Cuxhaven, Delmenhorst, Helgoland</div>
	  <div class="goog-menuitem">28 Bremen, Schwanewede, Syke, Stuhr</div>
	  <div class="goog-menuitem">29 Celle, Uelzen, Salzwedel, Lüchow</div>
	</div>
      </div>
      <div class="goog-submenu">3
	<div class="goog-menu">
	  <div class="goog-menuitem">30 Hannover, Garbsen, Langenhagen, Laatzen</div>
	  <div class="goog-menuitem">31 Hannover Umland, Hameln, Hildesheim, Peine</div>
	  <div class="goog-menuitem">32 Herford, Minden, Detmold, Löhne</div>
	  <div class="goog-menuitem">33 Bielefeld, Paderborn, Bad Driburg, Gütersloh</div>
	  <div class="goog-menuitem">34 Kassel, Hannoversch Münden, Korbach, Warburg</div>
	  <div class="goog-menuitem">35 Gießen, Wetzlar, Marburg, Dillenburg</div>
	  <div class="goog-menuitem">36 Fulda, Bad Hersfeld, Bad Salzungen, Alsfeld</div>
	  <div class="goog-menuitem">37 Göttingen, Höxter, Eschwege, Osterode am Harz</div>
	  <div class="goog-menuitem">38 Braunschweig, Salzgitter, Wolfsburg, Halberstadt</div>
	  <div class="goog-menuitem">39 Magdeburg, Stendal, Oschersleben, Staßfurt</div>
	</div>
      </div>
      <div class="goog-submenu">4
	<div class="goog-menu">
	  <div class="goog-menuitem">40 Düsseldorf, Hilden, Mettmann, Ratingen</div>
	  <div class="goog-menuitem">41 Mönchengladbach, Neuss, Viersen, Erkelenz</div>
	  <div class="goog-menuitem">42 Wuppertal, Velbert, Solingen, Remscheid</div>
	  <div class="goog-menuitem">44 Dortmund, Lünen, Herne, Bochum</div>
	  <div class="goog-menuitem">45 Essen, Mülheim an der Ruhr, Recklinghausen, Gelsenkirchen</div>
	  <div class="goog-menuitem">46 Oberhausen, Bottrop, Bocholt, Wesel</div>
	  <div class="goog-menuitem">47 Duisburg, Krefeld, Moers, Kleve, Wesel</div>
	  <div class="goog-menuitem">48 Münster, Rheine, Nordhorn, Coesfeld</div>
	  <div class="goog-menuitem">49 Osnabrück, Melle, Ibbenbüren, Lingen</div>
	</div>
      </div>
      <div class="goog-submenu">5
	<div class="goog-menu">
	  <div class="goog-menuitem">50 Köln (linksrheinisch plus Köln-Deutz), Frechen, Brühl, Bergheim</div>
	  <div class="goog-menuitem">51 Köln (rechtsrheinisch ohne Köln-Deutz), Leverkusen, Bergisch Gladbach, Gummersbach</div>
	  <div class="goog-menuitem">52 Aachen, Eschweiler, Düren, Heinsberg</div>
	  <div class="goog-menuitem">53 Bonn, Remagen, Siegburg, Euskirchen</div>
	  <div class="goog-menuitem">54 Trier, Wittlich, Daun, Prüm</div>
	  <div class="goog-menuitem">55 Mainz, Simmern/Hunsrück, Bad Kreuznach, Idar-Oberstein</div>
	  <div class="goog-menuitem">56 Koblenz, Neuwied, Mayen, Andernach</div>
	  <div class="goog-menuitem">57 Siegen, Lennestadt, Olpe, Altenkirchen</div>
	  <div class="goog-menuitem">58 Hagen, Witten, Iserlohn, Lüdenscheid</div>
	  <div class="goog-menuitem">59 Hamm, Unna, Soest, Arnsberg</div>
	</div>
      </div>
      <div class="goog-submenu">6
	<div class="goog-menu">
	  <div class="goog-menuitem">60 Frankfurt am Main Mitte</div>
	  <div class="goog-menuitem">61 Bad Homburg, Friedberg, Bad Vilbel, Oberursel</div>
	  <div class="goog-menuitem">63 Aschaffenburg, Hanau, Offenbach am Main, Miltenberg</div>
	  <div class="goog-menuitem">64 Darmstadt, Bensheim, Heppenheim, Groß-Gerau</div>
	  <div class="goog-menuitem">65 Wiesbaden, Limburg an der Lahn, Rüsselsheim, Frankfurt-West</div>
	  <div class="goog-menuitem">66 Saarbrücken, Neunkirchen, Homburg, Pirmasens</div>
	  <div class="goog-menuitem">67 Kaiserslautern, Ludwigshafen, Worms, Speyer</div>
	  <div class="goog-menuitem">68 Mannheim, Schwetzingen, Lampertheim, Viernheim</div>
	  <div class="goog-menuitem">69 Heidelberg, Weinheim, Leimen</div>
	</div>
      </div>
      <div class="goog-submenu">7
	<div class="goog-menu">
	  <div class="goog-menuitem">70 Stuttgart, Fellbach, Leinfelden-Echterdingen, Filderstadt</div>
	  <div class="goog-menuitem">71 Stuttgarter Umland, Böblingen, Waiblingen, Backnang, Ludwigsburg</div>
	  <div class="goog-menuitem">72 Tübingen, Reutlingen, Sigmaringen, Freudenstadt</div>
	  <div class="goog-menuitem">73 Göppingen, Esslingen, Schwäbisch Gmünd, Aalen</div>
	  <div class="goog-menuitem">74 Heilbronn, Bietigheim-Bissingen, Schwäbisch Hall, Crailsheim</div>
	  <div class="goog-menuitem">75 Pforzheim, Eppingen, Calw, Mühlacker</div>
	  <div class="goog-menuitem">76 Karlsruhe, Baden-Baden, Landau in der Pfalz, Bruchsal</div>
	  <div class="goog-menuitem">77 Offenburg, Lahr/Schwarzwald|Lahr, Achern, Bühl</div>
	  <div class="goog-menuitem">78 Villingen-Schwenningen, Konstanz, Tuttlingen, Rottweil</div>
	  <div class="goog-menuitem">79 Freiburg im Breisgau, Lörrach, Titisee-Neustadt, Emmendingen</div>
	</div>
      </div>
      <div class="goog-submenu">8
	<div class="goog-menu">
	  <div class="goog-menuitem">80 München Mitte-Nordwest</div>
	  <div class="goog-menuitem">81 München West, Süd, Ost</div>
	  <div class="goog-menuitem">82 Münchener Umland (Süd, West), Fürstenfeldbruck, Starnberg, Garmisch-Partenkirchen</div>
	  <div class="goog-menuitem">83 Rosenheim, Traunstein, Freilassing, Bad Tölz</div>
	  <div class="goog-menuitem">84 Landshut, Waldkraiburg, Dingolfing, Pfarrkirchen</div>
	  <div class="goog-menuitem">85 Münchener Umland (Nord, Ost), Ingolstadt, Dachau, Freising, Eichstätt</div>
	  <div class="goog-menuitem">86 Augsburg, Donauwörth, Landsberg am Lech, Neuburg an der Donau</div>
	  <div class="goog-menuitem">87 Kempten, Kaufbeuren, Memmingen, Marktoberdorf</div>
	  <div class="goog-menuitem">88 Friedrichshafen, Lindau, Ravensburg, Biberach an der Riß</div>
	  <div class="goog-menuitem">89 Ulm, Neu-Ulm, Heidenheim an der Brenz, Ehingen</div>
	</div>
      </div>
      <div class="goog-submenu">9
	<div class="goog-menu">
	  <div class="goog-menuitem">90 Nürnberg, Fürth, Schwabach, Zirndorf</div>
	  <div class="goog-menuitem">91 Nürnberger Umland, Erlangen, Ansbach, Dinkelsbühl</div>
	  <div class="goog-menuitem">92 Amberg, Neumarkt in der Oberpfalz, Weiden in der Oberpfalz, Schwandorf</div>
	  <div class="goog-menuitem">93 Regensburg, Cham, Kelheim, Abensberg</div>
	  <div class="goog-menuitem">94 Passau, Landau an der Isar,  Regen, Straubing</div>
	  <div class="goog-menuitem">95 Hof, Bayreuth, Kulmbach, Marktredwitz</div>
	  <div class="goog-menuitem">96 Bamberg, Lichtenfels, Coburg, Sonneberg</div>
	  <div class="goog-menuitem">97 Würzburg, Schweinfurt, Bad Kissingen, Wertheim</div>
	  <div class="goog-menuitem">98 Suhl, Hildburghausen, Ilmenau, Meiningen</div>
	  <div class="goog-menuitem">99 Erfurt, Weimar, Mühlhausen/Thüringen, Eisenach</div>
	</div>
      </div>
    </div>
  </div>

  <div id="page2">
    <h2>Freitext</h2>
    <p>Schreiben Sie etwas über sich ...</p>
    <div id="toolbar" style='width:602px'></div>
    <div id="editMe"></div>
    <hr>
  </div>

  <div id="page3">
    <h2>Fragenkatalog</h2>
    <p>Die folgenden Angaben ermöglichen automatisches Auffinden von Übereinstimmungen:</p>
    <table id="five-questions-tab">
      <tr id="first-row">
	<td></td>
	<th>trifft</th>
	<td class="sel bar">voll</td>
	<td class="sel bar">überwiegend</td>
	<td class="sel bar">nur teilweise</td>
	<td class="sel bar">eher nicht</td>
	<td class="sel">gar nicht</td>
	<th>zu</th>
      </tr>
      <tr id="odd-row">
      <td>Wünschen Sie sich Kinder?</td>
      <td></td>
      <td class="sel bar"><input type="radio" name="question_1" value="1"></td>
      <td class="sel bar"><input type="radio" name="question_1" value="2"></td>
      <td class="sel bar"><input type="radio" name="question_1" value="3"></td>
      <td class="sel bar"><input type="radio" name="question_1" value="4"></td>
      <td class="sel"><input type="radio" name="question_1" value="5"></td>
      <td></td>
      </tr>
      <tr id="even-row">
      <td>Gretchenfrage: Sind Sie religiös?</td>
      <td></td>
      <td class="sel bar"><input type="radio" name="question_2" value="1"></td>
      <td class="sel bar"><input type="radio" name="question_2" value="2"></td>
      <td class="sel bar"><input type="radio" name="question_2" value="3"></td>
      <td class="sel bar"><input type="radio" name="question_2" value="4"></td>
      <td class="sel"><input type="radio" name="question_2" value="5"></td>
      <td></td>
      </tr>
      <tr id="odd-row">
      <td>Sind Sie reiselustig?</td>
      <td></td>
      <td class="sel bar"><input type="radio" name="question_3" value="1"></td>
      <td class="sel bar"><input type="radio" name="question_3" value="2"></td>
      <td class="sel bar"><input type="radio" name="question_3" value="3"></td>
      <td class="sel bar"><input type="radio" name="question_3" value="4"></td>
      <td class="sel"><input type="radio" name="question_3" value="5"></td>
      <td></td>
      </tr>
      <tr id="even-row">
      <td>Treiben Sie Sport?</td>
      <td></td>
      <td class="sel bar"><input type="radio" name="question_4" value="1"></td>
      <td class="sel bar"><input type="radio" name="question_4" value="2"></td>
      <td class="sel bar"><input type="radio" name="question_4" value="3"></td>
      <td class="sel bar"><input type="radio" name="question_4" value="4"></td>
      <td class="sel"><input type="radio" name="question_4" value="5"></td>
      <td></td>
      </tr>
      <tr id="odd-row">
      <td>Sind Sie ein Stadtmensch?</td>
      <td></td>
      <td class="sel bar"><input type="radio" name="question_5" value="1"></td>
      <td class="sel bar"><input type="radio" name="question_5" value="2"></td>
      <td class="sel bar"><input type="radio" name="question_5" value="3"></td>
      <td class="sel bar"><input type="radio" name="question_5" value="4"></td>
      <td class="sel"><input type="radio" name="question_5" value="5"></td>
      <td></td>
      </tr>
      <tr id="even-row">
      <td>?</td>
      <td></td>
      <td class="sel bar"><input type="radio" name="question_6" value="1"></td>
      <td class="sel bar"><input type="radio" name="question_6" value="2"></td>
      <td class="sel bar"><input type="radio" name="question_6" value="3"></td>
      <td class="sel bar"><input type="radio" name="question_6" value="4"></td>
      <td class="sel"><input type="radio" name="question_6" value="5"></td>
      <td></td>
      </tr>
    </table>
  </div>

</div>
