<div id="profile-pane">

  <div id="bg">
  </div>

  <div id="tabpane1"></div>

  <div id="page1">
    <h2>zur Person</h2>
    <p>
      <table>
	<tr>
	  <td>Ich bin</td>
	  <td></td>
	  <td></td><td><input type="radio" name="user_sex" value="female">eine Frau</td>
	  <td></td><td><input type="radio" name="user_sex" value="male">ein Mann</td>
	</tr>
	<tr>
	  <td>und suche</td>
	  <td></td>
	  <td></td><td><input type="radio" name="user_interest_sex" value="female">eine Frau</td>
	  <td></td><td><input type="radio" name="user_interest_sex" value="male">ein Mann</td>
	</tr>
      </table>
    </p>
  </div>

  <div id="page2">
    <h2>Freitext</h2>
    <p>Schreiben Sie etwas über sich ...</p>
    <div id="toolbar" style='width:602px'></div>
    <div id="editMe"></div>
    <hr>
  </div>

  <div id="page3">
    <h2>Fragenkatalog</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras et nisi id
      lorem tempor semper. Suspendisse ante. Integer ligula urna, venenatis quis,
      placerat vitae, commodo quis, sapien. Quisque nec lectus. Sed non dolor. Sed
      congue, nisi in pharetra consequat, odio diam pulvinar arcu, in laoreet elit
      risus id ipsum. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos hymenaeos. Praesent tellus enim, imperdiet a, sagittis
      id, pulvinar vel, tortor. Integer nulla. Sed nulla augue, lacinia id,
      vulputate eu, rhoncus non, ante. Integer lobortis eros vitae quam. Phasellus
      sagittis, ipsum sollicitudin bibendum laoreet, arcu erat luctus lacus, vel
      pharetra felis metus tincidunt diam. Cras ac augue in enim ultricies
      aliquam.
    </p>
    <input type="text" />
    <select><option>Select box</option></select>
    <button>Button</button>
  </div>

  <div id="login-scripts">
    <script type="text/javascript">
      goog.require('project_alpha_client.app.profile');
    </script>
  </div>

</div>
