<div id="user-details" class="project-alpha-dialog">
  <table id="user-details-controls">
    <tr>
      <td><div id="add-user-to-fav" class="goog-flat-button goog-flat-button-disabled">Zu Favoriten hinzufügen</div>
	<div id="rm-user-from-fav" class="goog-flat-button goog-flat-button-disabled">Von Favoriten entfernen</div></td>
      <td><div id="send-msg-to-user" class="goog-flat-button goog-flat-button-disabled">Nachricht senden</div></td>
    </tr>
  </table>

  <div id="free-text"></div>

  <div id="confirm-user-details" class="goog-flat-button goog-flat-button-disabled">Schliessen</div>
</div>


<div id="mail-dialog" class="project-alpha-dialog">
  <h1 align="center">Nachricht an <div id="user-name"></div></h1>

  <div id="text">Hier steht dann die Nachricht</div>

  <div id="confirm-mail" class="goog-flat-button goog-flat-button-disabled">Schliessen</div>
</div>

<div id="user_details_messages">
  <div id="user-details-dialog-title">Profildaten</div>
  <div id="mail-dialog-title">Nachricht</div>
</div>
