<div id="index-pane">

  <div id="support-dialog" class="project-alpha-dialog">
    <h2>Project Alpha needs your support!</h2>

    <p>Please help to inform others about this project. Publish a comment via twitter or google plus and take part in a discussion about futher development and improvments.</p>

    <table id="announce-button-table" class="support-tables">
      <tr>
        <td class="twitter">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://project-alpha" data-text="Singles aufgepasst: Hier werdet Ihr nicht übers Ohr gehauen!" data-via="ol42" data-lang="de" data-size="large" data-count="none">Twittern</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </td>

        <td class="gplus">
          <!-- Place this tag where you want the +1 button to render. -->
          <div class="g-plusone" data-annotation="inline" data-width="120"></div>

          <!-- Place this tag after the last +1 button tag. -->
          <script type="text/javascript">
            window.___gcfg = {lang: 'de'};

            (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </td>

        <td class="gplus-community">
          <div>
            <a href="https://plus.google.com/u/0/communities/102197792811205416720" target="_blank">
              <img src="img/gplus_community.png" width="120"></a>
            </a>
          </div>
        </td>
      </tr>
    </table>

    <hr>

    <p>A donation via flattr, bitcoin or paypal helps us to keep this service online.</p>
    <table id="donate-button-table" class="support-tables">
      <tr>
        <td class="flattr">
          <div>
            <a class="FlattrButton" style="display:none;" href="http://project-alpha.org"></a>
            <noscript><a href="http://flattr.com/thing/1137039/project-alpha" target="_blank">
                <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
          </div>
        </td>

        <td class="bitcoin">
          <div>
            <a href="bitcoin:1Kx9pBJN8RHKcJQa81yyrBy3BDEqYRfskE?amount=0.5&label=project-alpha">
              <img src="img/bitcoin_euro-150px.png" width="75"></a>
            <p style="font-size:xx-small">1KzTSfqjF2iKCduwz59nv2uqh1W2JsTxZH</p>
          </div>
        </td>

        <td class="paypal">
          <div>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="96WYH6689SGWS">
              <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
              <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1"></form>
          </div>
        </td>
      </tr>
    </table>

    <form>
      <div id="confirm-support-dialog" class="goog-flat-button goog-flat-button-disabled project-alpha-dialog-button"
	   title="Schließen">Close</div>
    </form>
  </div>

  <div id="status-messages" class="project-alpha-dialog">
    <div id="support-dialog-title">Support us</div>
  </div>


  <div id="logo-pane">
    <img id="logo" src="img/alpha.png" alt="logo"/>
  </div>

  <div id="title">
    <h1>Project Alpha</h1>
    <p>Project Alpha is an open source project which serves as an internet based dating platform. In order to protect your privacy <b>please do use a pseudonym</b> instead of your real name for registration. A valid email address which will not be published elsewhere is the only thing which is required for registration.</p>
  </div>

  <div id="button-pane">
    <table border="0" width="100%">
      <td align="center">
	<div id="register-button-pane">
	  <input id="register-button" class="button green" type="button"
		 title="Create an account. Please use a pseudonym and not your real name. The choosen pseudonym serves as login name and your nick name which is displayed to other users on this service. Please have in mind that the pseudonym cannot be changed later on!" value="Create Account">
	  <p>Create an account now!</p>
	</div>
      </td>

      <td align="center">
	<div id="login-button-pane">
	  <input id="login-button" class="button green" type="button"
		 title="Click here to log in" value="Login">
	  <p>Login</p>
	</div>
      </td>

      <td align="center">
	<div id="logout-button-pane">
	  <input id="logout-button" class="button green" type="button"
		 title="Logout from this side" value="Logout">
	  <p>Logout</p>
	</div>

	<div id="forgot-password-pane">
	  <input id="forgot-password-button" class="button green" type="button"
		 title="Reenable your account by getting a new confirmation email" value="New Password">
	  <p>Forgot Password</p>
	</div>
      </td>
    </table>
  </div>

  <div id="change-lang-button-pane" data-lang="de">
    <img src="img/ged.png" width="50" alt="english"/>
    <p>Deutsche Version</p>
  </div>

  <h2>Features</h2>
  <div class="box alpha">
    <h3>Transparancy</h3>
    <p>Would you like to understand the criteria for finding a significant other instead of relying on team of experienced psychologists? If so your have just found the right place. On contrast to many other dating sides based on 10 simple and directly questions you are able to clearly comprehend who matches to your character and who will not.</p>
    <p>The way the algorithms behind this side work can be tracked down to the last detail because there are open source. This has also the advantage that third party application like in example smart phone apps can easily created. An iPhone app is already under development.</p>
    <p>Because we do not earn any additional revenue based on your usage, there is no commercial interest to keep you logged into this side as long as possible. Just the opposite. You are entitled to switch to whatever network services works well for you in case you find somebody interesting here.</p>
  </div>

  <div class="box">
    <h3>No fees, no ads</h3>
    <p>This side disclaims completely advertisement and fees. There is in example no expensive "premium account" which are forced to conclude because you are not able to write messages to some of the users otherwise. Futhermore you are not convert yourself into a product by trading your personal data or expose you to unwanted commercials. Because this goal are contrary to commercial interests the service is completely financed by donations and the work of volunteers.</p>
    <div id="support-button">
      <img src="img/support-icon.png" alt="support"/>
      <p>support this project</p>
    </div>
    <p>Maybe there is another question which you may better ask: Why are commercial vendors of a dating platform which is relatively simple to implement such expensive?</p>
  </div>

  <div class="box omega">
    <h3>Best in class privacy protection</h3>
    <p>You are explitly adviced not to use any real name on this platform to keep you personal data secure. All you need to use this side is a valid email address. If you like you can create one excplicitly for accessing this side.</p>
    <p>On contrast to most dating sides we do not store pictures on our servers directly. Nevertheless you can put pictures to your profile or messages by delegating to an external service. You have full control about your pictures in this way and you do not need to worry about any potential misuse. In practise procedure of linking pictures in is dead simple. Just drag and drop them with the mouse from another side.</p>
  </div>

  <div id="footer"></div>

  <div class="github-fork-ribbon-wrapper right-bottom">
    <div class="github-fork-ribbon">
      <a href="https://github.com/linneman/project-alpha">Fork me on GitHub</a>
    </div>
  </div>

</div>
