<div id="search-pane">

  <p class="pane-explanation">Browse through list of all contacts. Put interesting profiles into the favourite list. You can get more details, pictures as available and send a message by clicking on the button 'details' in the last column on this list.</p>

  <div id="status-messages">
    <div id="show-details-button-txt">Details ...</div>
  </div>

  <div id="tabpane-search"></div>

  <div id="search-results">
    <h2>Find Contacts</h2>
    <table id="search-result-table" class="result-table">
      <tr id="header-row">
	<th class="date" id="sort-by-date">Registered since</th>
	<th class="name" id="sort-by-name">Name</th>
	<th class="dist" id="sort-by-dist">Est. Distance</th>
	<th class="match" id="sort-by-match">Match</th>
	<th class="details">&nbsp;</th>
      </tr>
      <tr id="prototype-row">
	<td class="date" id="col1"></td>
	<td class="name" id="col2"></td>
	<td class="dist" id="col3"></td>
	<td class="match" id="col4"></td>
	<td class="details" id="col5"></td>
      </tr>
    </table>

    <table id="search-result-controller" class="result-controller">
      <tr id="prototype-row">
	<td class="col" id="col1"></td>
	<td class="col" id="col2"></td>
	<td class="col" id="col3"></td>
	<td class="col" id="col4"></td>
	<td class="col" id="col5"></td>
	<td class="col" id="col6"></td>
	<td class="col" id="col7"></td>
	<td class="col" id="col8"></td>
	<td class="col" id="col9"></td>
	<td class="col" id="col10"></td>
      </tr>
    </table>
  </div>

  <div id="favorites">
    <h2>Favourites</h2>

    <div id="search_no_favorites">
      <h3>No favourites specified yet!</h3>
      <p>You can add interesting profiles by clicking the buttons "find Contacts", "Details" to this list.</p>
    </div>

    <table id="favorite-table" class="result-table">
      <tr id="header-row">
	<th class="date" id="sort-by-date">Registered since</th>
	<th class="name" id="sort-by-name">Name</th>
	<th class="dist" id="sort-by-dist">Est. Distance</th>
	<th class="match" id="sort-by-match">Match</th>
	<th class="details">&nbsp;</th>
      </tr>
      <tr id="prototype-row">
	<td class="date" id="col1"></td>
	<td class="name" id="col2"></td>
	<td class="dist" id="col3"></td>
	<td class="match" id="col4"></td>
	<td class="details" id="col5"></td>
      </tr>
    </table>

    <table id="favorite-controller" class="result-controller">
      <tr id="prototype-row">
	<td class="col" id="col1"></td>
	<td class="col" id="col2"></td>
	<td class="col" id="col3"></td>
	<td class="col" id="col4"></td>
	<td class="col" id="col5"></td>
	<td class="col" id="col6"></td>
	<td class="col" id="col7"></td>
	<td class="col" id="col8"></td>
	<td class="col" id="col9"></td>
	<td class="col" id="col10"></td>
      </tr>
    </table>
  </div>

  <div id="banned">
    <h2>Blocked</h2>

    <div id="search_no_banned">
      <h3>There have been no profiles banned yet!</h3>
      <p>You can exclude profiles where you are not interested in by clicking the buttons "Find Contacts", "Details" from the search. These profiles are displayed in the list under this tab.</p>
    </div>

    <table id="banned-table" class="result-table">
      <tr id="header-row">
	<th class="date" id="sort-by-date">Registered since</th>
	<th class="name" id="sort-by-name">Name</th>
	<th class="dist" id="sort-by-dist">Est. Distance</th>
	<th class="match" id="sort-by-match">Match</th>
	<th class="details">&nbsp;</th>
      </tr>
      <tr id="prototype-row">
	<td class="date" id="col1"></td>
	<td class="name" id="col2"></td>
	<td class="dist" id="col3"></td>
	<td class="match" id="col4"></td>
	<td class="details" id="col5"></td>
      </tr>
    </table>

    <table id="banned-controller" class="result-controller">
      <tr id="prototype-row">
	<td class="col" id="col1"></td>
	<td class="col" id="col2"></td>
	<td class="col" id="col3"></td>
	<td class="col" id="col4"></td>
	<td class="col" id="col5"></td>
	<td class="col" id="col6"></td>
	<td class="col" id="col7"></td>
	<td class="col" id="col8"></td>
	<td class="col" id="col9"></td>
	<td class="col" id="col10"></td>
      </tr>
    </table>
  </div>

  <div id="search-setup">
    <h2>Setup</h2>
    <p>The following parameters are used for seeking interesting profiles. The option to individually change this setup is under development.</p>
    <table>
      <tr><td class="desc">Maximum hit count for members with high matching rate:</td><td class="val">245</td><td></td></tr>
      <tr><td class="desc">Member are assigned to high matching rate with more than:</td><td class="val">50</td><td>%</td></tr>
      <tr><td class="desc">Maximum hit count for members in vincinity to your residence:</td><td class="val">245</td><td></td></tr>
      <tr><td class="desc">Maximum number of indicated new members:</td><td class="val">10</td><td></td></tr>
    </table>
  </div>

  <div id="no_matches_available">
    <h3>There are no members matching your profile yet!</h3>
    <p>The project has been released just a few days ago. Therefore there are unfortunately no or only a few members. Please consider that we treat this unpleasent fact in an open way as a sign for our responsibility. A large base of members cannot necessarily be considered as quality intervention. If a side would be exclusibely rated by this there would only be a few big players who can dictate their business models to the disadvantage of their users.</p>
    <p>Please consider the fact that you are part of an exclusive circle of early adopters of this project as your chance. Your profile will get the highest possible attention by all new members. We keep you of course informend about any new matching profiles and new messages from other members.</p>
    <div id="support-button2">
      <img src="img/support-icon.png" alt="support"/>
      <p>Support this project</p>
    </div>
    <p>Help just for your own interest to draw attention to this public domain project. Click on the button above to get more information.</p>
  </div>

  <div id="search_profile_incomplete">
    <h3>Your profile data is not complete yet</h3>
    <p>Please add the following data under the menu "Being Found" in order to allow others to find you:</p>
    <ul>
      <li>Your sex</li>
      <li>You are looking for a woman or a man?</li>
      <li>Age category</li>
      <li>Postal area of your residence</li>
      <li>Please fill out the questionnaire as well</li>
    </ul>
  </div>

  <div id="search_request_progress">
    <h3>Updating data ...</h3>
    <img src="/img/spinner.gif">
  </div>

</div>
