<div id="status-pane">

<p class="pane-explanation">This page provides all your messages grouped by unread, read and not answered yet. The details button shows you the overall communication with the corresponding member. A communication stream is always assigned exclusively to one of the three tabs.</p>

  <div id="compose-msg-dialog" class="project-alpha-dialog">
    <div id="cmp-msg-toolbar"></div>
    <div id="cmp-msg-editor"></div>

    <div id="buttons">
      <div id="confirm-compose-msg" class="goog-flat-button goog-flat-button-disabled"
	   title="click to send the message!">Send</div>
      <div id="cancel-compose-msg" class="goog-flat-button goog-flat-button-disabled"
	   title="close this dialog">Cancel</div>
    </div>

    <div id="ref-msgs-half"></div>
    <div id="ref-msgs-full"></div>
    <img id="paper_plane" src="img/paper_plane.svg"/>

    <div id="compose_request_progress">
      <h3>Updating Data ...</h3>
      <img src="img/spinner.gif">
    </div>
  </div>

  <div id="status-messages" class="project-alpha-dialog">
    <div id="compose-msg-dialog-title">Send message to </div>
    <div id="show-msg-dialog-title">Communication with </div>
    <div id="compose-msg-dialog-transmission-error">Error while transmitting data to server!</div>
    <div id="showall-user-msg">Details</div>
    <div id="reply-user-msg">Reply</div>
  </div>

  <div id="msg-tab-pane"></div>

  <div id="page1">
    <h2>New Messages</h2>

    <img class="status-pic-in-pane" src="img/closed_envelope.png" alt="closed_envelope"/>
    <div id="msg_no_new_messages" class="status-msg-in-pane">
      <h3>There are no new messages yet!</h3>
      <p>All incoming messages are assigned to this tab first. Entries in this table are moved to the tab "Read Messages" when you click the button "Details" or "Reply".</p>
    </div>

    <table id="new-messages-table" class="result-table">
      <tr id="header-row">
	<th class="date" id="sort-by-date">Date</th>
	<th class="name" id="sort-by-name">Name</th>
	<th class="last-msg" id="last-msg">Last Message</th>
	<th class="showall">&nbsp;</th>
	<th class="answer">&nbsp;</th>
      </tr>
      <tr id="prototype-row">
	<td class="date" id="col1"></td>
	<td class="name" id="col2"></td>
	<td class="last-msg" id="col3"></td>
	<td class="showall" id="col4"></td>
	<td class="answer" id="col5"></td>

      </tr>
    </table>

    <table id="new-messages-controller" class="result-controller">
      <tr id="prototype-row">
	<td class="col" id="col1"></td>
	<td class="col" id="col2"></td>
	<td class="col" id="col3"></td>
	<td class="col" id="col4"></td>
	<td class="col" id="col5"></td>
      </tr>
    </table>
  </div>

  <div id="page2">
    <h2>Read Messages</h2>

    <img class="status-pic-in-pane" src="img/open_envelope.png" alt="open_envelope"/>
    <div id="msg_no_read_messages" class="status-msg-in-pane">
      <h3>You have not received any messages yet!</h3>
      <p>All read messages will be displayed under this tab but unfortunately you have not received any mail yet. Attract other members by providing a meaningful profil description and pictures of yourself under the menu "Being Found".</p>
    </div>

    <table id="read-messages-table" class="result-table">
      <tr id="header-row">
	<th class="date" id="sort-by-date">Date</th>
	<th class="name" id="sort-by-name">Name</th>
	<th class="last-msg" id="last-msg">Last Message</th>
	<th class="showall">&nbsp;</th>
	<th class="answer">&nbsp;</th>
      </tr>
      <tr id="prototype-row">
	<td class="date" id="col1"></td>
	<td class="name" id="col2"></td>
	<td class="last-msg" id="col3"></td>
	<td class="showall" id="col4"></td>
	<td class="answer" id="col5"></td>

      </tr>
    </table>

    <table id="read-messages-controller" class="result-controller">
      <tr id="prototype-row">
	<td class="col" id="col1"></td>
	<td class="col" id="col2"></td>
	<td class="col" id="col3"></td>
	<td class="col" id="col4"></td>
	<td class="col" id="col5"></td>
      </tr>
    </table>
  </div>

  <div id="page3">
    <h2>Contact Request without Reply</h2>

    <img class="status-pic-in-pane" src="img/unanswered_messages.png" alt="unanswered_messages"/>
    <div id="msg_no_unanswered_messages" class="status-msg-in-pane">
      <h3>There are no open contact requests at the moment!</h3>
      <p>Discover interesting contacts within the menu "Find" and send a message to members you are interested in.</p>
      <p>All contact requests who have sent out and which are not replied yet will be displayed here. This helps you to keep overview what you have written when to which member.</p>
    </div>

    <table id="unanswered-messages-table" class="result-table">
      <tr id="header-row">
	<th class="date" id="sort-by-date">Date</th>
	<th class="name" id="sort-by-name">Name</th>
	<th class="last-msg" id="last-msg">Last Message</th>
	<th class="showall">&nbsp;</th>
      </tr>
      <tr id="prototype-row">
	<td class="date" id="col1"></td>
	<td class="name" id="col2"></td>
	<td class="last-msg" id="col3"></td>
	<td class="showall" id="col4"></td>

      </tr>
    </table>

    <table id="unanswered-messages-controller" class="result-controller">
      <tr id="prototype-row">
	<td class="col" id="col1"></td>
	<td class="col" id="col2"></td>
	<td class="col" id="col3"></td>
	<td class="col" id="col4"></td>
      </tr>
    </table>
  </div>


  <div id="msg_request_progress">
    <h3>Updating data ...</h3>
    <img src="img/spinner.gif">
  </div>

</div>
