<div id="user-details" class="project-alpha-dialog">
  <table id="user-details-controls">
    <tr>
      <td><div id="add-user-to-fav" class="goog-flat-button goog-flat-button-disabled">Add to favourites</div>
	<div id="rm-user-from-fav" class="goog-flat-button goog-flat-button-disabled">Remove from favourites</div></td>
      <td><div id="add-user-to-banned" class="goog-flat-button goog-flat-button-disabled">Block</div>
	<div id="rm-user-from-banned" class="goog-flat-button goog-flat-button-disabled">Unblock</div></td>
      <td><div id="send-msg-to-user" class="goog-flat-button goog-flat-button-disabled">Send Message</div></td>
    </tr>
  </table>

  <div id="free-text"></div>

  <div id="confirm-user-details" class="goog-flat-button goog-flat-button-disabled">Close</div>
</div>


<div id="mail-dialog" class="project-alpha-dialog">
  <h1 align="center">Nachricht an <div id="user-name"></div></h1>

  <div id="text">Hier steht dann die Nachricht</div>

  <div id="confirm-mail" class="goog-flat-button goog-flat-button-disabled">Close</div>
</div>

<div id="user_details_messages">
  <div id="user-details-dialog-title">Profil Data</div>
  <div id="mail-dialog-title">Message</div>
  <div id="user-profile-removed">This profile has been deleted!</div>
</div>


<div id="user-details-content">
  <div id="ud-html-text"></div>
  <hr />
  <div id="ud-age-and-loc">
    <h2 class="ud-h2">Age and Residence</h2>
    <p><span class="ud-name"></span> is in the age category between <span class="ud-age-min"></span> and <span class="ud-age-max"></span> years and
      is living in the postal area <span class="ud-zip"></span> (<span class="ud-cities"></span>).</p>
  </div>
  <hr />
  <div id="ud-questionaire">
    <h2 class="ud-h2">10 Answers:</h2>
    <table>
      <tr>
        <td id="ud-quest1"></td>
        <td>:</td>
        <td id="ud-answer1"></td>
      </tr>
      <tr>
        <td id="ud-quest2"></td>
        <td>:</td>
        <td id="ud-answer2"></td>
      </tr>
      <tr>
        <td id="ud-quest3"></td>
        <td>:</td>
        <td id="ud-answer3"></td>
      </tr>
      <tr>
        <td id="ud-quest4"></td>
        <td>:</td>
        <td id="ud-answer4"></td>
      </tr>
      <tr>
        <td id="ud-quest5"></td>
        <td>:</td>
        <td id="ud-answer5"></td>
      </tr>
      <tr>
        <td id="ud-quest6"></td>
        <td>:</td>
        <td id="ud-answer6"></td>
      </tr>
      <tr>
        <td id="ud-quest7"></td>
        <td>:</td>
        <td id="ud-answer7"></td>
      </tr>
      <tr>
        <td id="ud-quest8"></td>
        <td>:</td>
        <td id="ud-answer8"></td>
      </tr>
      <tr>
        <td id="ud-quest9"></td>
        <td>:</td>
        <td id="ud-answer9"></td>
      </tr>
      <tr>
        <td id="ud-quest10"></td>
        <td>:</td>
        <td id="ud-answer10"></td>
      </tr>
    </table>
  </div>
  <hr />
  <div id="ud-fav-books-sec">
    <h2 class="ud-h2"><span class="ud-name"></span>s favourite books:</h2>
    <table id="ud-fav-books">
      <tr>
        <th>1.</th>
        <td id="ud-favbook-auth1"></td><td>:</td>
        <td id="ud-favbook-title1"></td>
      </tr>
      <tr>
        <th>2.</th>
        <td id="ud-favbook-auth2"></td><td>:</td>
        <td id="ud-favbook-title2"></td>
      </tr>
      <tr>
        <th>3.</th>
        <td id="ud-favbook-auth3"></td><td>:</td>
        <td id="ud-favbook-title3"></td>
      </tr>
    </table>
  </div>
  <hr />
  <div id="ud-fav-movies-sec">
    <h2 class="ud-h2"><span class="ud-name"></span>s favourite movies:</h2>
    <table id="ud-movies">
      <tr>
        <th>1.</th>
        <td id="ud-favmovie-auth1"></td><td>:</td>
        <td id="ud-favmovie-title1"></td>
      </tr>
      <tr>
        <th>2.</th>
        <td id="ud-favmovie-auth2"></td><td>:</td>
        <td id="ud-favmovie-title2"></td>
      </tr>
      <tr>
        <th>3.</th>
        <td id="ud-favmovie-auth3"></td><td>:</td>
        <td id="ud-favmovie-title3"></td>
      </tr>
    </table>
  </div>

</div>
