/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2011/12 Otto Linnemann
*/

#login {
    position:relative;
    font-size:1.5em;
    background:#bdb;
    width:700px;
    height:250px;
    margin:0.3em;
    border-width:2px;
    border-style:solid;
    opacity:0;
}

#login table {
    border-collapse:separate;
    border-spacing:10px 10px;
    font-size:0.8em;
    margin:0.3em;
}

#confirm-login {
    position:absolute;
    font-size:24px;
    top:150px;
    left:350px;
    padding: 2px 20px;
}

#login h1 {
    font-size:32px;
}

#login .login-field {
    font-size:1.3em;
    width:460px;
}

#login .login-message {
    font-size:0.8em;
    top:0px;
    left:20px;
    color:red;
    //opacity:0;
}

#login-messages {
    position:absolute;
    opacity:0;
}
