/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2011/12 Otto Linnemann
*/

#login {
    width:700px;
    height:270px;
    opacity:0;
}


#login table {
    border-collapse:separate;
    border-spacing:10px 10px;
    font-size:0.8em;
    margin:0.3em;
}

#login .login-field {
    font-size:1.3em;
    width:460px;
}

#login .login-message {
    font-size:0.8em;
    top:0px;
    left:20px;
    color:red;
}

#login-messages {
    position:absolute;
    opacity:0;
}



#pw-forgotten-form {
    width:700px;
    height:270px;
    opacity:0;
}

#pw-forgotten-form table {
    border-collapse:separate;
    border-spacing:10px 10px;
    font-size:0.8em;
    margin:0.3em;
}

#pw-forgotten-form .login-field {
    font-size:1.3em;
    width:460px;
}


#send_pw_reminder_progress {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#E0E0E0;
    top:0px;
    left:0px;
    opacity:0;
}

#send_pw_reminder_progress h3 {
    text-align:center;
    margin-top:25%;
}

#send_pw_reminder_progress img {
    position:absolute;
    left:344;
    top:120;
    width:32px;
    height:32px;
}
