/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2011/12 Otto Linnemann
*/

#editMe {
    width: 600px;
    height: 300px;
    background-color: white;
    border: 1px solid grey;
}
