/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2011/12 Otto Linnemann
*/

/* global layout */

/* @import url(http://fonts.googleapis.com/css?family=Ovo); */
@import url(http://fonts.googleapis.com/css?family=PT+Serif);

body {
  margin-left:100px;
  margin-right:100px;
  font-family: 'PT Serif', serif;
}

body h1 {
  font-size:54px;
}

body h2 {
  font-size:36px;
}


/* global navigation button style */

#nav-pane {
  /* display:none; */
  opacity:1;
  padding-bottom:30px;
}


/* modal dialog layout (e.g. login/register) */

.project-alpha-dialog  {
    position:relative;
    font-size:1.5em;
    background:#bdb;
    width:600px;
    height:300px;
    margin:0.3em;
    border-width:2px;
    border-style:solid;
    padding:20px;
    opacity:0;
}

.project-alpha-dialog h1 {
    font-size:32px;
}

.project-alpha-dialog-button {
    position:absolute;
    font-size:24px;
    padding: 2px 20px;
    text-align:center;
    width:20%;
    bottom:15%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}


/*
 * Navigation buttons
 */

.nav-pane .goog-custom-button-inner-box {
    width:170px;
    font-size:20px;
}

.nav-pane .goog-custom-button {
}

.nav-pane .goog-custom-button-hover {
    background: #57c142;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#43ad2e), to(#57c142));
    background: -moz-linear-gradient(#43ad2e, #57c142);
    background: linear-gradient(#43ad2e, #57c142);
}

.nav-pane .goog-custom-button-checked {
    color:white;
    background: #43ad2e;
    border: solid 1px #6e883f;
}

/**
 * Green Button
 */
input.button, a.button {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #63ce66,
                0 0 0 1px rgba(255, 255, 255, 0.75),
                0 1px 4px 0 rgba(0, 0, 0, 0.35);
    color: #555;
    display: inline-block;
    margin: 10px 0 10px 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa;
}

input.button.green, a.button.green {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #57c142;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#57c142), to(#43ad2e));
    background: -moz-linear-gradient(#57c142, #43ad2e);
    background: linear-gradient(#57c142, #43ad2e);
    border: solid 1px #2e9c3a;
    border-bottom: solid 3px #116101;
    color: #fff;
    font-family: "Chunkfive", serif;
    font-size: 1.3em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}

input.button.green:hover, a.button.green:hover {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #57c142;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#43ad2e), to(#57c142));
    background: -moz-linear-gradient(#43ad2e, #57c142);
    background: linear-gradient(#43ad2e, #57c142);
    border: solid 1px #2e9c3a;
    border-bottom: solid 3px #116101;
}

input.button.green:active, a.button.green:active {
    background: #43ad2e;
    border: solid 1px #6e883f;
    box-shadow: inset 0 0 0 1px #116101,
                inset 0 0 6px 1px rgba(0, 0, 0, 0.65),
                0 0 0 1px rgba(255, 255, 255, 0.75),
                0 1px 4px 0 rgba(0, 0, 0, 0.35);
    margin-top: 8px;
}
