/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2011/12 Otto Linnemann
*/

#bg {
}

#bg img {
}

#register {
    position:relative;
    font-size:2.0em;
    background:#bdb;
    width:700px;
    height:450px;
    margin:0.2em;
    border-width:5px;
    border-style:solid;
}

#register table {
    border-collapse:separate;
    border-spacing:10px 20px;
}

#register h1 {
    font-size:36px;
}

#register .reg-field {
    font-size:1.5em;
    width:300px;
}

#register_message {
    position:relative;
}

#register_message .register_message {
    position:absolute;
    top:0px;
    left:20px;
    color:red;
    opacity:0;
}
