/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2011/12 Otto Linnemann
*/

#bg {
}

#bg img {
}

#register {
    position:relative;
    font-size:1.5em;
    background:#bdb;
    width:700px;
    height:500px;
    margin:0.3em;
    border-width:2px;
    border-style:solid;
}

#register table {
    border-collapse:separate;
    border-spacing:10px 10px;
    font-size:0.8em;
    margin:0.3em;
}

#confirm-registration {
    position:absolute;
    font-size:24px;
    left:200px;
    padding: 2px 20px;
}

#cancel-registration {
    position:absolute;
    font-size:24px;
    left:400px;
    padding: 2px 20px;
}

#register h1 {
    font-size:32px;
}

#register .reg-field {
    font-size:1.3em;
    width:460px;
}

#register .register_message {
    font-size:0.8em;
    top:0px;
    left:20px;
    color:red;
    //opacity:0;
}

#register_messages {
    position:absolute;
    opacity:0;
}
