/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2013/1 Otto Linnemann
*/

#repl-pane {
  /* display:none; */
  opacity:0;
}

#repl {
  position: absolute;
  left: 50%;
  top: 30%;
  text-align:center;
  width: 100%;
  margin-left: -50%;
}
