/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2011/12 Otto Linnemann
*/

#search-pane {
  /* display:none; */
  opacity:0;
  position:relative;
}

#search-pane .result-table {
    width:100%;
    height:90%;
    border: 1px solid black;
    empty-cells:show;
    /* border-collapse:collapse; */
}

#search-pane .result-table * {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#search-pane .result-table th,
#search-pane .result-table td {
    height:39px;
}

#search-pane #search-results table tr,
#search-pane #favorites table tr {
   height: 2.4em;
}

#search-pane .result-table #prototype-row {
    display:none;
}

#search-pane .result-table .date { width:15%; }
#search-pane .result-table .name { width:40%; }
#search-pane .result-table .dist { width:15%; }
#search-pane .result-table .match { width:15%; }
#search-pane .result-table .details { width:15%; }


#search-pane .result-controller {
    width:100%;
    border: 1px solid black;
    /* border-collapse:collapse; */
}

#search-pane .result-controller * {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#search-pane .result-controller #prototype-row {
    display:none;
}

#search-pane .result-controller .col {
    width:10%;
    text-align:center;
}

#search-pane #search_no_favorites,
#search-pane #search_no_banned {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#E0E0E0;
    top:0px;
    margin-top:32px;
    left:0px;
    opacity:1;
    z-index:1;
}

#search-pane #search_no_favorites h3,
#search-pane #search_no_banned h3 {
    text-align:center;
    margin-top:5%;
}

#search-pane #search_no_favorites p,
#search-pane #search_no_banned p
{
    text-align:center;
    margin-top:3%;
    margin-left:25%;
    margin-right:25%;
}



#search-pane #search_profile_incomplete h3 {
    text-align:center;
    margin-top:5%;
}

#search-pane #search_profile_incomplete p
{

    text-align:center;
    margin-top:3%;
    margin-left:25%;
    margin-right:25%;
}

#search-pane #search_profile_incomplete li
{

    text-align:center;
    margin-top:3%;
    margin-left:35%;
    margin-right:35%;
}

#search-pane #search_profile_incomplete {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#E0E0E0;
    top:0px;
    left:0px;
    opacity:1;
}

#search-pane #search_request_progress {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#E0E0E0;
    top:0px;
    left:0px;
    opacity:1;
}

#search-pane #search_request_progress h3 {
    text-align:center;
    margin-top:15%;
}

#search-pane #search_request_progress img {
    position:absolute;
    left:50%;
    top:50%;
    width:32px;
    height:32px;
}

#search-pane #status-messages {
    position:absolute;
    opacity:1;
}
