/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2011/12 Otto Linnemann
*/

#search-pane {
  /* display:none; */
  opacity:0;
  position:relative;
}

#search-pane .result-table {
    width:100%;
    border: 1px solid black;
    empty-cells:show;
    /* border-collapse:collapse; */
}

#search-pane .result-table * {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#search-pane .result-table th,
#search-pane .result-table td {
    height:39px;
}

#search-pane #search-results table tr,
#search-pane #favorites table tr {
   height: 2.4em;
}

#search-pane .result-table #prototype-row {
    display:none;
}

#search-pane .result-table .date { width:15%; }
#search-pane .result-table .name { width:40%; }
#search-pane .result-table .dist { width:15%; }
#search-pane .result-table .match { width:15%; }
#search-pane .result-table .details { width:15%; }


#search-pane .result-controller {
    width:100%;
    border: 1px solid black;
    /* border-collapse:collapse; */
}

#search-pane .result-controller * {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#search-pane .result-controller #prototype-row {
    display:none;
}

#search-pane .result-controller .col {
    width:10%;
    text-align:center;
}

#search-pane #search_no_favorites,
#search-pane #search_no_banned {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#E0E0E0;
    top:0px;
    margin-top:32px;
    left:0px;
    opacity:1;
    z-index:1;
}

#search-pane #search_no_favorites h3,
#search-pane #search_no_banned h3 {
    text-align:center;
    margin-top:5%;
}

#search-pane #search_no_favorites p,
#search-pane #search_no_banned p
{
    text-align:center;
    margin-top:3%;
    margin-left:25%;
    margin-right:25%;
}


#search-pane #search_profile_incomplete h3 {
    text-align:center;
    font-size:150%;
    margin-top:5%;
}

#search-pane #search_profile_incomplete p
{
    text-align:justify;
    margin-top:5%;
    margin-left:24%;
    margin-right:24%;
}

#search-pane #search_profile_incomplete li
{
    text-align:left;
    margin-top:3%;
    margin-left:24%;
    margin-right:24%;
}

#search-pane #no_matches_available h3 {
    text-align:center;
    font-size:150%;
    margin-top:5%;
    }

#search-pane #no_matches_available p {
    text-align:justify;
    margin-top:5%;
    margin-left:10%;
    margin-right:10%;
    }

#search-pane #support-button2 {
  top:50px;
  right:10px;
  width:220px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  background-color: #8f8;
  border-color:#0f0;
  border-radius: 2em;
}

#search-pane #support-button2 p {
  text-align:center;
  margin: 0;
  margin-top:5px;
  margin-bottom:2px;
  margin-left:0px;
  margin-right:0px;
  padding: 0;
  font-weight: bold;
  text-align:center;
  font-size: 80%;
  line-height: 1;
}

#search-pane #support-button2 img {
  width:90px;
  margin-top:2px;
}

#search-pane #search_profile_incomplete,
#search-pane #no_matches_available {
    position:absolute;
    width:100%;
    height:100%;
    min-height:700px;
    background-color:#E0E0E0;
    top:0px;
    left:0px;
    opacity:1;
}


#search-pane #search_request_progress {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#E0E0E0;
    top:0px;
    left:0px;
    opacity:1;
}

#search-pane #search_request_progress h3 {
    text-align:center;
    margin-top:15%;
}

#search-pane #search_request_progress img {
    position:absolute;
    left:50%;
    top:50%;
    width:32px;
    height:32px;
}

#search-pane #status-messages {
    position:absolute;
    opacity:1;
}

#search-pane #search-setup {
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
}

#search-pane #search-setup table {
    width:70%;
    border: 1px solid black;
    empty-cells:show;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
}

#search-pane #search-setup table * .desc { width: 90%; }
#search-pane #search-setup table * .val { width: 10%; text-align: right; }
