/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2011/12 Otto Linnemann
*/

#status-pane {
  /* display:none; */
  opacity:0;
}

#compose-msg-dialog {
    width:700px;
    height:500px;
}


#compose-msg-dialog #cmp-msg-toolbar {
    width: 100%;
}

#compose-msg-dialog #cmp-msg-editor {
    width: 100%;
    height: 200px;
    background-color: white;
    border: 1px solid grey;
}

#compose-msg-dialog #ref-msgs {
    font-variant:normal;
    font-size:medium;
    width:100%;
    height:200px;
    margin:5px;
    overflow:auto;
}



#compose-msg-dialog #compose_request_progress {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#E0E0E0;
    top:0px;
    left:0px;
    opacity:1;
}

#compose-msg-dialog #compose_request_progress h3 {
    text-align:center;
    margin-top:15%;
}

#compose-msg-dialog #compose_request_progress img {
    position:absolute;
    left:50%;
    top:50%;
    width:32px;
    height:32px;
}
