/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2011/12 Otto Linnemann
*/

#status-pane {
  /* display:none; */
  opacity:0;
  position:relative;
}


#status-pane .result-table {
    width:100%;
    height:90%;
    border: 1px solid black;
    /* border-collapse:collapse; */
}

#status-pane .result-table * {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#status-pane #search-results table tr,
#status-pane #favorites table tr {
   height: 2.4em;
}

#status-pane .result-table #prototype-row {
    display:none;
}

#status-pane .result-table .date { width:5%; }
#status-pane .result-table .name { width:15%; }
#status-pane .result-table .last-msg { width:70%; }
#status-pane .result-table .showall { width:5%; }
#status-pane .result-table .answer { width:5%; }


#status-pane .result-controller {
    width:100%;
    border: 1px solid black;
    /* border-collapse:collapse; */
}

#status-pane .result-controller * {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#status-pane .result-controller #prototype-row {
    display:none;
}

#status-pane .result-controller .col {
    width:10%;
    text-align:center;
}


#status-pane .status-msg-in-pane {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#E0E0E0;
    top:0px;
    margin-top:32px;
    left:0px;
    opacity:1;
    z-index:1;
}

#status-pane .status-msg-in-pane h3 {
    text-align:center;
    margin-top:5%;
}

#status-pane .status-msg-in-pane p {
    text-align:center;
    margin-top:3%;
    margin-left:25%;
    margin-right:25%;
}


#compose-msg-dialog {
    width:700px;
    height:500px;
}

#compose-msg-dialog #cmp-msg-toolbar {
    width: 100%;
}

#compose-msg-dialog #cmp-msg-editor {
    width: 100%;
    height: 200px;
    background-color: white;
    border: 1px solid grey;
}

#compose-msg-dialog #ref-msgs-half, #compose-msg-dialog #ref-msgs-full
{
    font-variant:normal;
    font-size:medium;
    width:100%;
    height:450px;
    margin:5px;
    overflow:auto;
}

#compose-msg-dialog #ref-msgs-half
{
    height:200px;
}

#compose-msg-dialog #compose_request_progress {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#E0E0E0;
    top:0px;
    left:0px;
    opacity:1;
}

#compose-msg-dialog #compose_request_progress h3 {
    text-align:center;
    margin-top:15%;
}

#compose-msg-dialog #compose_request_progress img {
    position:absolute;
    left:50%;
    top:50%;
    width:32px;
    height:32px;
}

#status-pane #status-messages {
    position:absolute;
    opacity:0;
}

#status-pane .status-msg-in-pane {
    height:500px;
}

#status-pane #msg_request_progress {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#E0E0E0;
    top:0px;
    left:0px;
    opacity:1;
}

#status-pane #msg_request_progress h3 {
    text-align:center;
    margin-top:15%;
}

#status-pane #msg_request_progress img {
    position:absolute;
    left:50%;
    top:50%;
    width:32px;
    height:32px;
}
