/* CSS
   The use and distribution terms for this software are covered
   by the Eclipse Public License 1.0

   2011/12 Otto Linnemann
*/

#status-pane {
  /* display:none; */
  opacity:0;
}

#compose-msg-dialog {
    width:700px;
    height:500px;
}


#compose-msg-dialog #cmp-msg-toolbar {
    width: 100%;
}

#compose-msg-dialog #cmp-msg-editor {
    width: 100%;
    height: 200px;
    background-color: white;
    border: 1px solid grey;
}

#compose-msg-dialog #ref-msgs {
    font-variant:normal;
    font-size:medium;
    width:100%;
    height:200px;
    margin:5px;
    overflow:auto;
}
